extends layout

block content
  h1= title

  include include/searchform

  div
    i.fa.fa-lg.fa-folder-o
    a(href='/metadata') Dropbox

  div count: #{result.length}

  - each content in result
    div
      - if (content.is_dir)
        i.fa.fa-lg.fa-folder-o
      - else
        i.fa.fa-lg.fa-file-o
      a(href='/metadata/#{content.path.replace(/^\//, "")}') #{content.path}

  include include/logout
